<div class="row h-100">
  <div class=col-4>
    <react-table-container></react-table-container>
  </div>
  <div class=col-6>
    <vue-chart style="height: 340px; width: 700px;" type="bar"></vue-chart>
  </div>
</div>
